boto3
pypdf
python-multipart
fastembed
fastapi==0.109.1
uvicorn==0.22.0
openai==1.31.0
langchain==0.2.2
langchain-experimental==0.0.60
langchain-openai==0.1.8
langchain-google-genai==1.0.5
langchain-groq==0.1.5
langchain-qdrant==0.1.0
ollama==0.2.0
qdrant-client==1.9.1
